<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>ShowBookPage</title>
</head>
<body>
<table border="1px solid black">
    <thead>
    <tr>
        <th>图书编号</th>
        <th>图书名称</th>
        <th>图书价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.bookPrice}"></td>
        <td><a th:href="@{selectBookById(id=${book.id})}">修改</a>&nbsp;&nbsp;<a th:href="@{delete(id=${book.id})}">删除</a>
        </td>
    </tr>
    <h1><a th:href="@{/toAdd}">录入</a></h1>
    </tbody>
</table>
</body>
</html>